<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bejegyzés megtekintése</title>
</head>
<body>
<h4>Bejegyzés megtekintése</h4>
<table>
    <tr>
        <th>Id</th>
        <td data-th-text="${entry.id}"></td>
    </tr>
    <tr>
        <th>Title</th>
        <td data-th-text="${entry.title}"></td>
    </tr>
    <tr>
        <th>Content</th>
        <td data-th-text="${entry.content}"></td>
    </tr>
    <tr>
        <th>Created</th>
        <td data-th-text="${#temporals.formatISO(entry.created)}"></td>
    </tr>
</table>
</body>
</html>