<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bejegyzés megtekintése</title>
</head>
<body>
<h4>Bejegyzés megtekintése</h4>
<table>
    <tr>
        <th>Id</th>
        <td data-th-if="${entry.id}"></td>
    </tr>
    <tr>
        <th>Id</th>
        <td data-th-if="${entry.title}"></td>
    </tr>
    <tr>
        <th>Id</th>
        <td data-th-if="${entry.content}"></td>
    </tr>
    <tr>
        <th>Id</th>
        <td data-th-if="${entry.created}"></td>
    </tr>
</table>
</body>
</html>